.complete-profile-buttons-container {
  width: 87%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0px 26px 0;
}

.complete-profile-cancel-button {
  width: 120px;
  height: 50px;
	box-sizing: border-box;
	border-radius: 4px;
	background-color: orangered;
	outline: none;
	cursor: pointer;
	font-family: 'Chathura', sans-serif;
	font-weight: 600;
	font-size: 2.6rem;
	color: white;
	text-align: center;
	text-decoration: none;
	line-height: 28px;
	-webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

h1 {
  font-size: 2.9rem;
  text-align: center;
}

h5 {
  font-family: 'Roboto Mono', monospace;
	font-weight: 200;
  font-size: 1.1rem;
  transform: translateY(4px);
}